h1{
  color: purple;
  font-style: italic;
  font-size: 200px;
}
body{
  background-color: #af99ff;
}
title{
  color: #d6c5ab;
}
header{
  color: pink;
}
.warning{
  color: lime;
}
p{
  font-style: oblique;
  font-style: bold;
  font-size: 100pt;
  font-family: cursive;
}
